defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/android:api-28-node
  environment:
    JAVA_TOOL_OPTIONS: "-Xmx1024m"
    GRADLE_OPTS: '-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false'
    TERM: dumb

version: 2
jobs:
  unit-tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: jar-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - run:
          name: Download dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
              - ~/.gradle/caches/
              - ~/.gradle/wrapper/
              - ~/.android/build-cache
          key: jar-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - run:
          name: Build Unit Tests
          command: ./gradlew assembleProdDebugUnitTest assembleStagingDebugUnitTest -PdisablePreDex --stacktrace
      - run:
          name: Run Unit Tests
          command: ./gradlew testProdDebugUnitTest testStagingDebugUnitTest -PdisablePreDex --stacktrace
      - run:
          name: Save test results
          command: |
              mkdir -p ~/test-results/{xml,html}
              cp -r app/build/test-results/ ~/test-results/xml
              cp -r app/build/reports/tests/ ~/test-results/html
      - store_test_results:
          path: ~/test-results/xml
      - store_artifacts:
          path: ~/test-results/html

  danger:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: v2-yarn-{{ checksum "yarn.lock" }}
      - run:
          name: Install Yarn Dependencies
          command: yarn ci:skip-native-if-possible || yarn install --ignore-engines
      - save_cache:
          key: v2-yarn-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Danger
          command: yarn danger ci

workflows:
  version: 2
  android:
    jobs:
      - danger
      - unit-tests

