version: 2

working_directory: &working_directory ~/repo

defaults: &defaults
  working_directory: *working_directory
  docker:
    - image: circleci/android:api-28-node
  environment:
    JAVA_TOOL_OPTIONS: "-Xmx1024m"
    GRADLE_OPTS: '-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false'
    TERM: dumb

jobs:
  unit-tests:
    <<: *defaults
    steps:
      - run:
          name: Install Git LFS
          command: |
              sudo apt-get install software-properties-common
              sudo add-apt-repository -y ppa:git-core/ppa
              curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
              sudo apt-get install git-lfs
              git lfs install
      - checkout
      - run:
          name: Git LFS pull
          command: git lfs pull
      - restore_cache:
          key: &gradle_key gradle-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - restore_cache:
          key: &gradle_wrapper_key gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Download dependencies
          command: ./gradlew :app:downloadDependencies
      - run:
          name: Clean up before saving caches
          command: |
              rm -f ~/.gradle/caches/modules-2/modules-2.lock
              rm -rf ~/.gradle/caches/*/plugin-resolution
      - save_cache:
          paths:
              - ~/.gradle/caches/
              - ~/.android/build-cache
              - ~/.git/lfs
          key: *gradle_key
      - save_cache:
          paths:
              - ~/.gradle/wrapper/
          key: *gradle_wrapper_key
      - run:
          name: Detekt
          command: ./gradlew detekt || true
      - run:
          name: Run Unit Tests
          command: ./gradlew testDebugUnitTest -PdisablePreDex --stacktrace
      - persist_to_workspace:
          root: *working_directory
          paths:
            - .
      - run:
          name: Save test and detekt results
          command: |
              mkdir -p ~/reports/{xml,tests,lint}
              cp -r app/build/test-results/ ~/reports/xml
              cp -r app/build/reports/tests/testDebugUnitTest/ ~/reports/tests
              cp build/reports/detekt/detekt.html ~/reports/lint/detekt.html
      - store_test_results:
          path: ~/reports/xml
      - store_artifacts:
          path: ~/reports

  test-coverage:
    <<: *defaults
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Check Test Coverage
          command: ./gradlew testDebugUnitTestCoverage -PdisablePreDex --stacktrace
      - run:
          name: Save test coverage and detekt results
          command: |
              mkdir -p ~/reports/coverage
              cp -r app/build/reports/jacoco/testDebugUnitTestCoverage/html/ ~/reports/coverage
      - store_artifacts:
          path: ~/reports

  build-debug-apk:
    <<: *defaults
    steps:
      - attach_workspace:
          at: *working_directory
      - run:
          name: Android development debug signing key
          command: echo "$DEBUG_KEY_STORE" | base64 --decode > ~/.android/debug.keystore
      - run:
          name: Build Debug APK
          command: ./gradlew assembleDebug -PdisablePreDex --stacktrace
      - run:
          name: Save APK
          command: |
              mkdir ~/apk
              cp -r app/build/outputs/apk/debug/app-debug.apk ~/apk/caffeine.apk
      - store_artifacts:
          path: ~/apk

  danger:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: &yarn_key v2-yarn-{{ checksum "yarn.lock" }}
      - run:
          name: Install Yarn Dependencies
          command: yarn ci:skip-native-if-possible || yarn install --ignore-engines
      - save_cache:
          key: *yarn_key
          paths:
            - node_modules
      - run:
          name: Danger
          command: yarn danger ci --failOnErrors 

  publish-to-play:
    <<: *defaults
    steps:
      - run:
          name: Install Git LFS
          command: |
              sudo apt-get install software-properties-common
              sudo add-apt-repository -y ppa:git-core/ppa
              curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
              sudo apt-get install git-lfs
              git lfs install
      - checkout
      - run:
          name: Git LFS pull
          command: git lfs pull
      - run:
          name: Set up credentials
          command: |
              echo "$PUBLISH_KEY_STORE" | base64 --decode > app/mitsurugi.ks
              echo "$PUBLISH_KEY_STORE_PROPERTIES" | base64 --decode > keystore.properties
              echo "$PUBLISH_CREDENTIALS_JSON" | base64 --decode > app/caffeine-ci-build-publisher.json
      - run:
          name: Generate release notes
          command: |
              mkdir -p app/src/main/play/release-notes/en-US
              git log --pretty=format:"%h %s" -n 1 $CIRCLE_SHA1 > app/src/main/play/release-notes/en-US/internal.txt
      - run:
          name: Publish the app
          command: ./gradlew publish -PdisablePreDex --stacktrace

workflows:
  version: 2
  android:
    jobs:
      - danger
      - unit-tests
      - test-coverage:
          requires:
            - unit-tests
      - approve-debug-apk:
          type: approval
      - build-debug-apk:
          requires:
            - unit-tests
            - approve-debug-apk
      - publish-to-play:
          requires:
            - unit-tests
          filters:
            branches:
              only:
              - master

