<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To allow starting foreground services on Android P+ - https://developer.android.com/preview/behavior-changes#fg-svc -->
    <!-- The fix is coming to Leak Canary, https://github.com/square/leakcanary/pull/1076 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>
